@(message: String)
@main(message) {
    <h1>Test stand</h1>


    <p>This is test app for tdd-workshop 6</p>
    <p>The app includes rest api to return public holidays between two dates</p>
    <h4>API</h4>
    <h6>Registration:</h6>
    <pre>
        POST    /rest/users/register   (param - email:String)
        e.g.:   /rest/users/register?email=AAAAAAAA@@epam.com
                Content-Type: application/x-www-form-urlencoded
    </pre>

    <h6>Get token:</h6>
    <pre>
        POST       /rest/auth/token/:email/:secret
        e.g:       /rest/auth/token/AAAAAAAA@@epam.com/very_secret_string
                   Accept: application/json

        responce:  {"token":"generated_auth_token"}
    </pre>

    <h6>Get dates:</h6>
    <pre>
        GET            /rest/dayoffs/:from/:to
        e.g.:          /rest/dayoffs/2017-03-07/2017-05-09
                       Authorization: Bearer generated_auth_token
                       Accept: application/json

        responce:
        {
          "days": [
            {
                "date": "2017-03-08",
                "comment": "8-е марта"
            },
            {
                "date": "2017-04-16",
                "comment": "Пасха"
            },
            {
                "date": "2017-05-01",
                "comment": "первомай"
            },
            {
                "date": "2017-05-02",
                "comment": "первомай"
            },
            {
                "date": "2017-05-09",
                "comment": "деньпобеды"
            }
            ]
            }

    </pre>

}
